<p>
  <strong>Palavra 1:</strong>
  <%= @anagrama.palavra1 %>
</p>
 
<p>
  <strong>Palavra 2:</strong>
  <%= @anagrama.palavra2 %>
</p>

<p>
  <strong>Resultado:</strong>
  <%= @anagrama.resultado %>
</p>

<%= link_to 'Back', anagramas_path %>